<!DOCTYPE html>
<html>
    <!-- <head>
        <meta name = "viewport" content = "width = device-width , initial-scale = 1">
        <title>Maceta Terracota Bemba</title>
        <link href = '/css/detailStyle.css' rel="stylesheet">
        <script src="https://kit.fontawesome.com/77ea5851fe.js" crossorigin="anonymous"></script>
    </head> -->

    <%- include('../partials/head') %>

    <body>

        <%- include('../partials/header') %>

        <!-- <header class="principal">
            <i class="fas fa-ellipsis-v menu"></i>
            <i class="fas fa-search buscador"></i>
            <img src="/imagenes/logo.jpg" width="100px" id='logo'>
            <i class="far fa-user-circle iconos"></i>
            <i class="fas fa-shopping-cart iconos"></i>
            <i class="far fa-heart favorito iconos"> </i>
            </div>
        </header> -->
        <main>
            <h1 id='titulo'>MACETA TERRACOTA BEMBA </h1>
            <br>
            <img src="/imagenes/detalleProducto1.jpg" id='producto'>
            <br>
            <div id='precio'>$2500</div>
            <br id='espacioCuota'>
            <div id='cuotas'> 6 cuotas sin interes de $416.67</div>
            <br id='espacioCuota'>
            <div> Tamaño  
                <br>
                <input type="radio" value="mini" name='tamaño'> Mini </input>
                <br>
                <input type="radio" value="medio" name='tamaño'> Medio </input>
                <br>
                <input type="radio" value="grande" name='tamaño'> Grande </input>
            </div>
            <br id='espacioCuota'>
            <p> Agregar al carrito
                <button type="submit"> <i class="fas fa-shopping-cart"></i> </button>
            </p>
            <div class='descrip'>
                <p> Maceta de terracota divertidísima. Ideal para ponerle una planta de pelo y otras en la boca</p>
                <img src="/imagenes/medidasDetailProd.jpg" id='medida'>
                <p class="nota"> La imagen es solo a modo ilustrativo. Cada planta es única. Además, las plantas, al tratarse de seres vivos que requieren de nuestro cuidado, una vez adquiridas no tendrán cambio o devolución!
                </p>
            </div>
                <div> Productos relacionados</div>
                <div id="prodrelac">
                    <span class="prod">
                        <img src="/imagenes/otrosProd1.jpg" class='relacionados'>
                        <h2 class= 'titRelacionado'>
                            Maceta Singer
                        </h2>
                        <h2 class="precioRelac">
                            $2.500
                        </h2>
                        <h2 class='cuotasSn'> <i class="far fa-credit-card"></i>
                            6 cuotas s/i $416.67
                        </h2>
                    </span>
                    <span class="prod">
                        <img src="/imagenes/otrosProd2.jpg" class='relacionados'>
                        <h2 class= 'titRelacionado'>
                            Maceta Llama Chica
                        </h2>
                        <h2 class="precioRelac">
                            $700
                        </h2>
                        <h2 class='cuotasSn'> <i class="far fa-credit-card"></i>
                            6 cuotas s/i $116.67
                        </h2>
                    </span>
                    <span class="prod">
                        <img src="/imagenes/otrosProd3.jpg" class='relacionados'>
                        <h2 class= 'titRelacionado'>
                            Maceta Balloon
                        </h2>
                        <h2 class="precioRelac">
                        $3.200
                        </h2>
                        <h2 class='cuotasSn'> <i class="far fa-credit-card"></i>
                        6 cuotas s/i $533.33
                        </h2>
                    </span>
                    <span class="prod">
                        <img src="/imagenes/otrosProd4.jpg" class='relacionados'>
                        <h2 class= 'titRelacionado'>
                            Maceta Prisma
                        </h2>
                        <h2 class="precioRelac">
                            $3.500
                        </h2>
                        <h2 class='cuotasSn'> <i class="far fa-credit-card"></i>
                            6 cuotas s/i $553.33
                        </h2>
                    </span>
                </div>
        </main>

        <%- include('../partials/footer') %>

        <!-- <footer>
            <span class="logo-footer">
                <img src="/imagenes/logo.jpg" alt="logo"> 
            </span>
    
            <div class="contacto">
                <label class="footer-titulos">Contactanos</label>
                <label><i class="fas fa-phone-alt footer-items">5512-4097</i></label>
                <label><i class="fab fa-whatsapp footer-items">11-2755-2867</i></label>
                <label><i class="fas fa-map-marker-alt footer-items">Av. Lincoln 2445 - Cap. Fed.</i></label>
            </div>
            <div class="redes">
                <label class="footer-titulos">MaMeLi en redes</label>
                <label><i class="fab fa-instagram footer-items"></i></label>
                <label><i class="fab fa-facebook footer-items"></i></label>
                <label><i class="fab fa-pinterest-p footer-items"></i></label>
            </div>
        </footer> -->
        <!-- <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script> -->
    </body>
</html>