<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>
  
<body>

    <%- include('../partials/header') %>
    
    <h1>USUARIO/PERFIL</h1>
    <h1>USUARIO/PERFIL</h1>
    <h1>USUARIO/PERFIL</h1>
    <h1>USUARIO/PERFIL</h1>
    <h1>USUARIO/PERFIL</h1>
    <h5>USUARIO/PERFIL</h5>
   
    <%- include('../partials/footer') %>

</body>
</html>