<!DOCTYPE html>
<html lang="en">
    
    <!-- <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Creá tu cuenta</title>
        <link rel="stylesheet" href="/css/signup.css">
    </head> -->

    <%- include('../partials/head') %>


    <body>

        <%- include('../partials/header') %>
        
        <!-- <header>

            <span class="left-menu">
                <i class="fas fa-th iconos"></i>
                <i class="fas fa-search iconos"></i>
            </span>
            <span class="cont-logo">
                <img class="logo" src="/imagenes/logo.JPG" alt="logo"> 
            </span>
            <span class="right-menu">
                <i class="fas fa-sign-in-alt iconos" ></i>
                <i class="fas fa-shopping-cart iconos"></i>
            </span>

        </header> -->

        <main id="main">
            <div id="contenedor-general">
                <div id="div-icono">
                    <i id="icono" class="fas fa-user"></i>
                </div>
                <label id="bienvenida" class="labels-formulario">Registrate</label>
                <form action="#" method="POST">
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">Nombre</label>
                        <input type="text" name="user" id="input-usuario" > 
                    </div>
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">Apellido</label>
                        <input type="text" name="user" id="input-usuario" > 
                    </div>
                    <div class="div">
                        <label id="label-usuario" class="labels-formulario">e-mail</label>
                        <input type="email" name="user" id="input-usuario" > 
                    </div>
                    <div class="div">
                        <label id="contraseña" class="labels-formulario">Contraseña</label>
                        <input type="password" name="password" id="password" >
                    </div>
                    <div class="div">
                        <label id="contraseña" class="labels-formulario">Confirmar contraseña</label>
                        <input type="password" name="password" id="password" >
                    </div>
                    <button id="ingresar" type="submit">Ingresar</button>
                    <button id="restablecer" type="submit">¿Reestablecer contraseña?</button>
                </form> 
            </div>
        </main>

        <%- include('../partials/footer') %>

        <!-- <footer>
            <span class="logo-footer">
                <img src="/imagenes/logo.JPG" alt="logo"> 
            </span>

            <div class="contacto">
                <label class="footer-titulos">Contactanos</label>
                <label><i class="fas fa-phone-alt footer-items">5512-4097</i></label>
                <label><i class="fab fa-whatsapp footer-items">11-2755-2867</i></label>
                <label><i class="fas fa-map-marker-alt footer-items">Av. Lincoln 2445 - Cap. Fed.</i></label>
            </div>

            <div class="redes">
                <label class="footer-titulos">MaMeLi en redes</label>
                <label><i class="fab fa-instagram footer-items"></i></label>
                <label><i class="fab fa-facebook footer-items"></i></label>
                <label><i class="fab fa-pinterest-p footer-items"></i></label>
            </div>

        </footer> -->

        <!-- <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script> -->
    </body>
</html>